/*
Sticky header
 */
div[data-ds-id="HeaderContainer"] {
  position: sticky;
  top: 1rem;
  z-index: 10;
}

div[data-ds-id="HeaderContainer"]::before {
  content: "";
  position: absolute;
  top: -1rem; /* Adjust based on the desired blur height */
  left: -1rem;
  right: -1rem;
  height: calc(100% + 1.5rem); /* Adjust the height to extend the pseudo-element to the bottom of the header */
  z-index: -1;
  background-color: inherit;
}

.header__navigation {
  margin-left: -16px
}

.header__navigation > div {
  width: fit-content;
  padding: 0 1rem;
  margin: 0 0 0 auto;
  display: inline-flex;
  height: 49px;
}

/*
Custom style to center hamburger menu
 */
.header__navigation > div[data-ds-id="Container"] > div[data-ds-id="Stack"] {
  margin: auto
}

h2[data-ds-id="TextClamped"] > span {
  max-height: 28px;
}

@media (max-width: 768px) {
  div.header__navigation div[data-ds-id="Tabs"] button div[data-ds-id="Icon"] {
    padding: 0 10px; /* Set whitespace around SVG */
  }
}


div[data-ds-id="Toggle"] div[data-ds-id="Inline"] {
  flex-direction: row-reverse;
}

h2[data-ds-id="H2"] {
  text-decoration: underline;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
