.inventory--wrapper {
    min-width: 10rem;
    max-width: 960px;
    margin: 0 auto;
}

.inventory__search-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    width: 250px;
    z-index: 0;
}

.inventory__search-wrapper > div[data-ds-id="Input"] {
    width: 100%;
}

.inventory__search-wrapper input {
    padding-right: 2rem;
}

.inventory__search-wrapper > button {
    position: absolute;
    right: .2rem;
    z-index: 4;
}
